body{
    margin:0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
    background: url(images/richard-umwNwMBMwwg-unsplash.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
}
h1,h2{
    margin: 0;
}
.container{
    height:70vh ;
    width: 31vw;
    background-color: rgba(255,255,255,0.18);
    border: 3px solid rgba(255,255,255,0.5);
    border-radius: 16px;
    padding: 10px;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.4);
}
.top{
    width: 85%;
    height: 8%;
    margin: auto;
    margin-top: 7px;
    position: relative;
    padding: 5px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top i{
    font-size: 28px;
}
.top input{
    
    position: absolute;
    height: 100%;
    width: 100%;
    background: transparent;
    border: 3.6px solid black;
    border-radius: 26px;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 2px 42px 2px 37px;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
}
.top button{
    border: 1px solid grey;
    border-radius: 16px;
    background: rgba(211, 211, 211, 0.529);
    z-index: 1;
    cursor: pointer;
    transition: all 0.3s;
}
.top button:hover{
    transition: all 0.3s;
    background: lightgray;
}
.mid{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin-top: 40px;
/* background-color: brown; */
}
.mid img{
    height: 170px;
    filter: drop-shadow(3px 7px 6px rgba(0,0,0,0.6));
}
.mid h1{
    margin: 0;
    margin-top: 8px;
    font-size: 60px;
    line-height: 45px;
    letter-spacing: 2px;
}
.mid h2{
    margin: 0;
    font-size: 29px;
    margin-top: 5px;
    letter-spacing: 3px;
}
.bottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 65px;
}
.humidity,.wind{
    display: flex;
}
.humidity i,.wind i{
  font-size: 50px; 
}
.hum,.win{
    display: flex;
    flex-direction: column;
    margin-left: 6px;
}
.hum h1,.win h1{
font-size:20px ;
}
.hum h2,.win h2{
    font-size:13px ;
    }

